@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container row" padding-0 margin-0>

    <div class="container row justify-content-end">
        <div class=col-2>
                <a asp-page="" class="btn btn-success form-control">Insert Teacher</a>
            </div>
            <div class="col-3">
                <a asp-page="" class="btn btn-success form-control">Insert Record-Keeper</a>
            </div>
    </div>
    <div class="col-3">
        <h2 class="text-info">Employees List</h2>
    </div>

</div>
