@model E_Primary_School.Models.Employee

<br />
<h2 class="text-info">@(Model.Id!=0 ? "Edit" : "Create") Employee</h2>
<div class = "border container" style="padding: 30px;">
    <form method = "post">
        @if(Model.Id!=0)
        {
            <input type="hidden" asp-for="Id"/>
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class = "form-group row">
            <div class = "col-3">
                <label asp-for = "userId" >UserId</label>
            </div>
            <div class = "col-6">
                <input asp-for= "userId" class = "form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
        </div> 
        <div class = "form-group row">
            <div class = "col-3">
                <label asp-for = "empName" >Name</label>
            </div>
            <div class = "col-6">
                <input asp-for= "empName" class = "form-control" />
                <span asp-validation-for="empName" class="text-danger"></span>
            </div>
        </div>
         <div class = "form-group row">
            <div class = "col-3">
                <label asp-for = "empEmail">Email</label>
            </div>
            <div class = "col-6">
                <input asp-for="empEmail" type="email" class = "form-control" />
                <span asp-validation-for="empEmail" class="text-danger"></span>
            </div>
         </div>

        <div class = "form-group row">
            <div class = "col-3">
                <label asp-for = "empPhoneNumber">Phone Number</label>
            </div>
            <div class = "col-6">
                <input asp-for="empPhoneNumber" type="tel" class = "form-control" />
                <span asp-validation-for="empPhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class = "form-group row">
            <div class = "col-3">
                <label asp-for = "empGender">Gender</label>
            </div>
            <div class = "col-6">
                Male
                <input asp-for="empGender" type="radio"  value="Male" class = "form-control" />
                Female
                <input asp-for="empGender" type="radio"  value="Female" class = "form-control" />
                <span asp-validation-for="empGender" class="text-danger"></span>
            </div>
        </div> 
        <div class = "form-group row">
            <div class = "col-3">
                <label asp-for = "empSalary">Salary</label>
            </div>
            <div class = "col-6">
                <input asp-for="empSalary" class = "form-control" />
                <span asp-validation-for="empSalary" class="text-danger"></span>
            </div>
        </div> 
        @if (Model.Id == 0)
        {
             <div class = "form-group row">
                <div class = "col-3">
                <label asp-for = "password">Password</label>
                 </div>
                <div class = "col-6">
                <input asp-for="password" type="password" class = "form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
                 </div>
             </div>
        }
        
        <div class = "form-group row">
            <div class = "col-3">
                <label asp-for = "userType">UserType</label>
                <span asp-validation-for="userType" class="text-danger"></span>
            </div>
            <div class = "col-6">
             <select asp-for="userType" class="form-control">
             <option selected>Choose...</option>
             <option value = "1">Teacher</option>
             <option value = "2">Record Kepper</option>
             </select>
             <span asp-validation-for="userType" class="text-danger"></span>
             </div>
             </div>
        <div class = "form-group row">
           <button class="btn btn-info form-control">
               @(Model.Id!=0 ? "Update" : "Create")
           </button>
        </div>
    </form>

</div>
@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}